@media only screen and (max-width: 400px) {
    body {
        background-color: lightgrey;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 961px) {
    Body {
        background-color: white;
    }
}

.lib-tittle-primary {
    color: #E4004F;
}

.lib-tittle-secondary-green {
    color: #78A22F;
}

.lib-tittle-secondary-blue {
    color: #004A61;
}

.lib-tittle-secondary-golden {
    color: #AC8900;
}

.link-active {
    color: #E4004F;
}

.author {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.book-card {
    background-color: #E4004F;
    color: white;
    font-family: Verdana, serif;
    border: 01px solid white;
    display: block;
}

.book-card-data-tittle {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    width: 200px;
    float: right;
}